:root {
    --rojo: #dc143c;
    --rosa: #c68bf0;
    --gris-claro: #d0d2d4;
    --gris-oscuro: rgba(39, 36, 36, 0.8);
    --violeta: #372d57;
}

/* colores */
.rojo {
    color: crimson;
}

@font-face {
    font-family: code;
    src: url(../fonts/RobotoMono-SemiBold.ttf);
}

@font-face {
    font-family: texto-general;
    src: url(../fonts/Poppins-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: texto-general;
    font-size: 16px;
}
main {
    display: flex;
    position: relative;
}

p {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 0;
}
hr {
    border: none;
    border-top: 1px solid var(--violeta);
    opacity: 0.6;
    margin: 30px 0;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
}

h2 {
    padding-bottom: 15px;
}

h3 {
    padding-bottom: 15px;
}

pre {
    color: #000;
    white-space: pre-wrap;
    word-break: break-all;
    font-family: code;
    font-size: 0.9rem;
}

@media only screen and (max-width: 600px) {
    h1 {
        text-align: center;
    }
}
.aIzquierda {
    position: absolute;
    left: -210px;
    top: 0;
    transition: 1s;
}

.aIzquierda:hover {
    left: 0;
    top: 0;
}

.bar {
    background-color: #000;
    color: #fff;
    width: 220px;
    width: 244px;
    position: fixed;
    z-index: 1;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px #000;
}

.aDerecha {
    background-color: #fff;
    color: #000;
    width: 100%;
    padding: 20px 25px 20px 40px;
    position: absolute;
    right: 0;
    top: 0;
}

.lista-general {
    list-style: none;
    background-color: #000;
    position: fixed;
    z-index: 1;
    top: 38px;
    overflow-y: scroll;
}

.lista-general > li > a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 5px;
}

.no-check:hover {
    background-color: rgba(128, 128, 128, 0.4);
}

.check {
    background-color: purple;
    box-shadow: 5px 5px 4px rgb(56, 55, 55);
    padding-right: 10px;
}

.fondo-texto {
    background-color: var(--violeta);
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}

.borde-caja {
    background-color: var(--violeta);
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 0 10px #000;
}

.fondo-caja {
    background-color: #fff;
    padding: 16px 16px 0;
    border-left: 5px solid rgb(10, 10, 10);
    border-radius: 10px;
}

.boton-vinculo {
    display: inline-block;
    padding: 5px 40px;
    background-color: var(--rosa);
    color: #000;
    border-radius: 10px;
    text-decoration: none;
    margin: 20px 0 0;
    font-size: 0.8rem;
    font-weight: bold;
    transition: 1s;
    border: 2px solid var(--rosa);
}

.boton-vinculo:hover {
    box-shadow: 0 0 4px #fff;
    border: 2px solid rgba(0, 0, 0, 0.4);
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(55, 45, 87, 0.5);
    height: 10px;
    border-radius: 10px;
}

.lista-general::-webkit-scrollbar {
    width: 10px;
}
.lista-general::-webkit-scrollbar-thumb {
    background-color: rgba(55, 45, 87, 0.5);
    height: 10px;
    border-radius: 10px;
}

.cont-foco {
    width: 200px;
    margin: auto;
    display: block;
}

.cont-foco button {
    margin-bottom: 2%;
}

button {
    background-color: green;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    transition: 1s;
}

button:hover {
    background-color: rgb(6, 54, 6);
}
