:root {
    --rojo: #dc143c;
    --rosa: #c68bf0;
    --gris-claro: #d0d2d4;
    --gris-oscuro: rgba(39, 36, 36, 0.8);
    --violeta: #372d57;
    --negro: #000;
    --blanco: #fff;
}

/* colores */
.rojo {
    color: crimson;
}

.verde {
    color: rgb(4, 107, 4);
}

.purpura {
    color: rgb(177, 6, 177);
}

.rosa {
    color: #c68bf0;
}

.azul {
    color: blue;
}
.gris {
    color: rgb(63, 63, 63);
}

@font-face {
    font-family: code;
    src: url(../fonts/RobotoMono-SemiBold.ttf);
}

@font-face {
    font-family: texto-general;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: mayus;
    src: url(../fonts/Poppins-ExtraBold.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: texto-general;
    font-size: 16px;
}
main {
    display: flex;
    position: relative;
}

p {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 0;
    line-height: 18px;
}
hr {
    border: none;
    border-top: 1px solid var(--rosa);
    opacity: 0.6;
    margin: 30px 0;
}

h1 {
    font-size: 1.7rem;
    text-align: center;
    line-height: 26px;
}

h2 {
    font-size: 1.3rem;
    margin: 15px 0;
    line-height: 24px;
}

h3 {
    padding-bottom: 15px;
}

pre {
    color: #000;
    word-break: break-all;
    white-space: pre-wrap;
    font-family: code;
    font-size: 0.8rem;
}

strong {
    font-family: mayus;
    font-size: 1rem;
}

table {
    border: 1px solid var(--violeta);
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    padding: 0 5px;
}

th {
    text-align: left;
}

tr:nth-child(even) {
    background-color: var(--rosa);
}

@media only screen and (max-width: 600px) {
    h1 {
        text-align: center;
    }
}
.aIzquierda {
    position: absolute;
    left: -210px;
    top: 0;
    transition: 1s;
}

.aIzquierda:hover {
    left: 0;
    top: 0;
}

.bar {
    background-color: #000;
    color: #fff;
    width: 220px;
    width: 244px;
    position: fixed;
    z-index: 1;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px #000;
}

.aDerecha {
    background-color: #fff;
    color: #000;
    width: 100%;
    padding: 20px 25px 20px 40px;
    position: absolute;
    right: 0;
    top: 0;
}
.ul-ej {
    margin-left: 40px;
}

.lista-general {
    list-style: none;
    background-color: #000;
    position: fixed;
    z-index: 1;
    top: 38px;
    overflow-y: scroll;
}

.lista-general > li > a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 5px;
}

.no-check:hover {
    background-color: rgba(128, 128, 128, 0.4);
}

.check {
    background-color: purple;
    box-shadow: 5px 5px 4px rgb(56, 55, 55);
    padding-right: 10px;
}

.fondo-texto {
    background-color: var(--violeta);
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}

.borde-caja {
    background-color: var(--violeta);
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 0 10px #000;
}

.fondo-caja {
    background-color: #fff;
    padding: 16px 16px 0;
    border-left: 5px solid rgb(10, 10, 10);
    border-radius: 10px;
}

.boton-vinculo {
    display: inline-block;
    padding: 3px 60px;
    background-color: var(--rosa);
    color: #000;
    border-radius: 10px;
    text-decoration: none;
    margin: 20px 0 0;
    font-size: 0.8rem;
    font-weight: bold;
    transition: 1s;
    border: 2px solid var(--rosa);
}

.boton-vinculo:hover {
    box-shadow: 0 0 4px #fff;
    border: 2px solid rgba(0, 0, 0, 0.4);
}
.caja-antProx {
    overflow: hidden;
    position: relative;
    height: 70px;
    margin-top: 45px;
}
.boton-prox {
    display: inline-block;
    padding: 5px 30px;
    background-color: var(--rosa);
    color: #000;
    border-radius: 10px;
    text-decoration: none;
    margin: 20px 0;
    font-size: 0.8rem;
    font-weight: bold;
    transition: 1s;
    border: 2px solid var(--rosa);
    position: absolute;
    right: 0;
    top: 0;
}

.boton-prox:hover {
    box-shadow: 0 0 4px #fff;
    border: 2px solid rgba(0, 0, 0, 0.4);
}

.boton-ante {
    display: inline-block;
    padding: 5px 30px;
    background-color: var(--rosa);
    color: #000;
    border-radius: 10px;
    text-decoration: none;
    margin: 20px 0;
    font-size: 0.8rem;
    font-weight: bold;
    transition: 1s;
    border: 2px solid var(--rosa);
    position: absolute;
    left: 0;
    top: 0;
}

.boton-ante:hover {
    box-shadow: 0 0 4px #fff;
    border: 2px solid rgba(0, 0, 0, 0.4);
}

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0, 0.8);
    height: 10px;
    border-radius: 10px;
    border: 1px solid violet;
}

.lista-general::-webkit-scrollbar {
    width: 10px;
}
.lista-general::-webkit-scrollbar-thumb {
    background-color: rgba(55, 45, 87, 0.5);
    height: 10px;
    border-radius: 10px;
}

.cont-foco {
    width: 186px;
    margin: auto;
    display: block;
}

.cont-foco button {
    margin-bottom: 2%;
}

button {
    background-color: green;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    transition: 1s;
}

button:hover {
    background-color: rgb(6, 54, 6);
}

.vinculo-normal {
    color: #000;
}

.vinculo-normal:hover {
    color: rgb(4, 107, 4);
}
